html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  @media (min-width: 1024px) {
    html {
      scroll-padding-top: 6rem;
    }
  }

  body{
    font-family: Poppins , sans-serif;
  }
  nav {
    transition: 0.3s ease;
  }
  #check:checked + label #menu {
    display: none;
  }
  #check:checked + label #close {
    display: block;
  }
  #check:checked + label ~ nav {
    height: 100vh;
    transition: 0.3s ease;
  }
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }