---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pani Construcciones">
  <section class="min-h-screen flex flex-col justify-between items-center">
    <div
      class="flex-grow mt-12 bg-[url('/hero.jpg')] bg-cover bg-center bg-no-repeat min-h-[200px] w-full lg:h-screen flex justify-center items-center"
    >
      <strong
        class="text-3xl lg:text-7xl uppercase  text-white text-center style-text-shadow leading-relaxed lg:leading-[6rem]"
      >
        Si tienes un terreno... <br /> La llave de tus sueños <br /> ¡está en tus
        manos!
      </strong>
    </div>
    <div class="flex flex-col flex-grow justify-evenly">
      <h1 class="font[Montserrat] font-bold text-2xl lg:text-5xl text-center uppercase p-2 lg:pt-10 lg:pb-4 ">
        Proyectos llave en mano
      </h1>
      <p class="px-2 text-center lg:pb-4">
        Usted tiene el terreno, nosotros construimos <br /> y le entregamos las llaves
        de su casa!
      </p>
      <p class="p-2 mb-2 text-center font-bold line-clamp-3">
        Por asesoramiento contactenos por <a href="mailto:info@steelframingmontevideo.com.uy"><span class="text-custom-blue"
          >Correo</span
        ></a> o a través de <a href="https://wa.me/598099491227"><span class="text-custom-blue">Whatsapp</span></a> acerca de
        todas las posibilidades.
      </p>
    </div>
  </section>
  <section>
    
  </section>
</Layout>

<style>
  .style-text-shadow {
    text-shadow: 0 2px 1px #000;
  }
</style>
