---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
import About from "../components/About.astro";
import Map from "../components/Map.astro";
---

<Layout title="Pani Construcciones">
  <section class="w-full h-auto">
    <Hero/>
  </section>
  <section class="w-full h-auto">
    <Products />
  </section>
  <section class="w-full h-auto">
    <About />
  </section>
  <section class="w-full h-auto">
    <Map />
  </section>
</Layout>


