---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
---

<Layout title="Pani Construcciones">
  <section class="min-h-screen flex flex-col justify-between items-center">
    <Hero/>
  </section>
  <section>
    <Products />
  </section>
</Layout>


