---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import Products from "../components/Products.astro";
import About from "../components/About.astro";
import Map from "../components/Map.astro";
---

<Layout title="Pani Construcciones | Casas en Steel Framing e Isopanel" description="¡Bienvenido a Pani Construcciones! Lider en la construcción de casas modernas, eficientes y de alta calidad. Descubre nuestra variedad de proyectos en Steel Framing e Isopanel. ¡Construye tu futuro con nosotros!" canonical="https://paniconstrucciones.com">
  <section class="flex flex-col w-full h-auto">
    <Menu/>
    <Hero/>
  </section>
  <section>
    <Products />
  </section>
  <section>
    <About />
  </section>
  <section>
    <Map />
  </section>
</Layout>


