---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pani Construcciones">
  <div class="h-screen">
    <div
      class="my-1 p-4 bg-[url('/hero.jpg')] bg-cover bg-no-repeat h-[200px] w-full flex justify-center items-center"
    >
      <strong
        class="text-2xl uppercase text-white text-center style-text-shadow leading-relaxed"
      >
        Si tienes un terreno... <br /> La llave de tus sueños <br /> ¡está en tus
        manos!
      </strong>
    </div>
    <section>
      <h1 class="font[Montserrat] font-bold text-2xl text-center uppercase p-6">
        Proyectos llave en mano
      </h1>
      <p class="px-4 text-center line-clamp-2">
        Usted tiene el terreno, nosotros construimos y le entregamos las llaves
        de su casa!
      </p>
      <p class="py-6 px-4 text-center font-bold line-clamp-3">
        Por asesoramiento contactenos por <span class="text-custom-blue"
          >Correo</span
        > o a través de <span class="text-custom-blue">Whatsapp</span> acerca de
        todas las posibilidades.
      </p>
    </section>
  </div>
</Layout>

<style>
  .style-text-shadow {
    text-shadow: 0 2px 1px #000;
  }
</style>
