---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pani Construcciones">
  <section class="h-screen flex flex-col justify-between items-center">
    <div
      class="mt-12 bg-[url('/hero.jpg')] bg-cover bg-center bg-no-repeat min-h-[300px] w-full flex justify-center items-center"
    >
      <strong
        class="text-2xl uppercase text-white text-center style-text-shadow leading-relaxed"
      >
        Si tienes un terreno... <br /> La llave de tus sueños <br /> ¡está en tus
        manos!
      </strong>
    </div>
      <h1 class="font[Montserrat] font-bold text-2xl text-center uppercase px-2">
        Proyectos llave en mano
      </h1>
      <p class="px-4 text-center">
        Usted tiene el terreno, nosotros construimos y le entregamos las llaves
        de su casa!
      </p>
      <p class="px-2 text-center font-bold">
        Por asesoramiento contactenos por <span class="text-custom-blue"
          >Correo</span
        > o a través de <span class="text-custom-blue">Whatsapp</span> acerca de
        todas las posibilidades.
      </p>
    </section>
</Layout>

<style>
  .style-text-shadow {
    text-shadow: 0 2px 1px #000;
  }
</style>
