---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
import About from "../components/About.astro";
import Map from "../components/Map.astro";
---

<Layout title="Construcción de casas en Steel Framing e Isopanel | Proyectos | Pani Construcciones" description="¡Bienvenido a Pani Construcciones! Lider en la construcción de casas modernas, eficientes y de alta calidad. Descubre nuestra variedad de proyectos en Steel Framing e Isopanel. ¡Construye tu futuro con nosotros!">
  <section class="flex flex-col w-full h-auto">
    <Hero/>
  </section>
  <section>
    <Products />
  </section>
  <section>
    <About />
  </section>
  <section>
    <Map />
  </section>
</Layout>


