---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";
import About from "../components/About.astro";
import {isopanel} from "..//proyectos.json";
---

<Layout title="Proyectos en Isopanel | Pani Construcciones" description="Descrubre nuestros proyectos detallados en Isopanel y encuentra la solución perfecta para tu nuevo hogar. Explora las características y beneficios de esta técnica de construcción versátil.">
  <section class="w-full h-auto md:w-[80%] flex flex-col mx-auto">
    <h2
      class="uppercase w-full h-auto font-bold py-2 px-4 text-lg md:text-2xl mb-4 lg:mt-2 text-center w-full bg-custom-blue text-white md:rounded-sm font-[Montserrat]"
    >
      Proyectos en isopanel
    </h2>
    <div
      class="grid flex-wrap w-auto h-auto justify-center grid-cols-1 lg:grid-cols-3"
    >
      {isopanel.map((card) => <Cards {...card} />)}
    </div>
  </section>
  <section>
    <About />
  </section>
</Layout>
