---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Galería de obras realizadas en Steel Framing e Isopanel | Proyectos| Pani Construcciones" description="Explora nuestra amplia galería de obras realizadas en Steel Framing e Isopanel. Descrubre la calidad y la innovación que caracterizan a nuestros proyectos. ¡Encuentra inspiración para tu próximo proyecto de construcción!">
  <section class="flex flex-col w-full h-auto mx-auto">
    <h1
      class="font-[Montserrat] font-bold text-lg lg:text-3xl text-center uppercase px-2 pt-2 pb-1 border-b-4 border-custom-blue mx-auto w-auto h-auto"
    >
      Obras realizadas
    </h1>
    <p
      class="text-sm px-2 lg:px-8 pb-2 pt-4 lg:text-lg w-full h-auto flex justify-center items-center text-justify"
    >
      En Pani Construcciones, nos enorgullecemos de transformar ideas en
      realidad con precisión y dedicación. A lo largo de los años, hemos
      trabajado en una variedad de proyectos que destacan por su calidad y
      atención al detalle. Cada proyecto refleja nuestro compromiso con la
      excelencia y la satisfacción del cliente. A continuación, te invitamos a
      explorar nuestra galería de trabajos realizados, donde podrás ver ejemplos
      de nuestro esfuerzo y pasión por lo que hacemos.
    </p>
    <div>
      <Gallery />
    </div>
  </section>
  <section>
    <About />
  </section>
</Layout>
