---
import { servicios } from "../components/Servicios.astro";
import CallToAction from "./CallToAction.astro";
---

<div class="bg-white mt-10 grid grid-cols-1 md:grid-cols-2 w-full p-8 pb-10">
  <div class="lg:col-span-1 flex flex-col items-center px-4 w-full">
    <img class="h-20" src="/logoweb.webp" alt="logo de pani construcciones" />
    <h3 class="font-[Montserrat] uppercase font-bold text-xl md:text-2xl mt-8 mb-2">¿Por qué elegirnos?</h3>
    <p class="w-[90%] py-6 lg:px-10 leading-loose">
        Pani Construcciones es una empresa de larga trayectoria en la construcción de proyectos basados en Steel Framing, construcción en seco y construcción tradicional.
    </p>
    <p class="w-[90%] py-4 lg:px-10 leading-loose">
        Nos especializamos en nuevos proyectos y ampliaciones usando la última tecnología en construcción.
    </p>
    <a href="/proyectos" class=" my-4 lg:m-2 uppercase text-custom-blue border-2 border-custom-blue py-2 px-4 rounded lg:hover:bg-custom-blue lg:hover:text-white lg:active:scale-90">
        Nuestros trabajos
      </a>
      
  </div>
  <div class="lg:col-span-1 flex flex-col items-center w-full">
    <div class="mt-4 lg:mt-4 lg:mb-2 text-center flex flex-col justify-center items-center">
    <svg
      fill="none"
      width="100"
      height="100"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#006494"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 9l-6 -6l-9 9h2v7a2 2 0 0 0 2 2h3.5"></path>
      <path d="M9 21v-6a2 2 0 0 1 2 -2h2"></path>
      <path
        d="M16 17.5l-.585 -.578a1.516 1.516 0 0 0 -2 0c-.477 .433 -.551 1.112 -.177 1.622l1.762 2.456c.37 .506 1.331 1 2 1h3c1.009 0 1.497 -.683 1.622 -1.593c.252 -.938 .378 -1.74 .378 -2.407c0 -1 -.939 -1.843 -2 -2h-1v-2.636c0 -.754 -.672 -1.364 -1.5 -1.364s-1.5 .61 -1.5 1.364v4.136z"
      ></path>
    </svg>
    <h3 class="font-[Montserrat] uppercase font-bold text-2xl mt-6 mb-2">Nuestros servicios</h3>
</div>
    <ul class="grid grid-cols-1 lg:grid-cols-2 list-disc list-inside lg:gap-1 py-4">
      {servicios.map((servicio) => <li class="py-1 border-b border-gray-200 last:border-0">{servicio}</li>)}
    </ul>
  </div>
  <div class="md:col-span-2 flex flex-col justify-evenly items-center px-2 m-2">
    <svg
      fill="none"
      width="100"
      height="100"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#006494"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7c.412 .41 .97 .64 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1c0 .58 .23 1.138 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1"
      ></path>
      <path d="M9 12l2 2l4 -4"></path>
    </svg>
    <strong class="font-[Montserrat] uppercase text-center text-xl lg:text-2xl mt-4 mb-10">¡La mejor calidad/precio del mercado!</strong>
    <CallToAction/>
  </div>
</div>
