<div
  class="bg-custom-white mt-2 flex flex-col w-full h-auto py-4 p-2 lg:p-6 items-center justify-center aspect-w-16 aspect-h-9"
>
  <h4
    class="font-[Archivo] uppercase font-bold text-xl md:text-3xl my-2 text-center"
  >
    Misión y visión:
  </h4>
  <p
    class="px-2 lg:pt-2 lg:py-0 lg:px-10 leading-relaxed text-xs lg:text-lg text-justify mb-2"
  >
    ¿Estás buscando construir <span class="font-bold"
      >el hogar de tus sueños</span
    >? ¡Bienvenido! Estás en el lugar correcto. Sabemos que una casa es mucho
    más que cuatro paredes, es el lugar donde se construyen recuerdos y se viven
    experiencias inolvidables.
    <p
      class="px-2 lg:pt-2 lg:py-0 lg:px-10 leading-relaxed text-xs lg:text-lg text-justify lg:mb-0 mb-2"
    >
      Combinamos la belleza estética con la eficiencia funcional, utilizando
      materiales de la más alta calidad del Uruguay y asegurando un acabado <span
        class="underline">impecable</span
      > en cada proyecto. Imagina despertarte cada mañana en la casa perfecta, diseñada
      especialmente para ti. Una casa donde cada detalle refleja tu estilo y personalidad.
      ¿Quieres una cocina amplia para esas reuniones familiares? ¿ O prefieres un
      estudio tranquilo para trabajar desde casa? Sea lo que sea que tengas en mente,
      <span class="font-bold">podemos hacerlo realidad</span>.
    </p>
  </p>
  <p
    class="px-2 lg:pt-2 lg:py-0 lg:px-10 leading-relaxed text-xs lg:text-lg text-justify font-bold text-custom-blue lg:mb-0 mb-2 uppercase"
  >
    ¡Es hora de construir la casa de tus sueños!
  </p>
  <p
    class="px-2 lg:pt-2 lg:py-0 lg:px-10 leading-relaxed text-xs lg:text-lg text-justify"
  >
    Nuestro equipo está listo para escucharte y comenzar a planificar tu
    proyecto. Toma el primer paso hacia la casa que siempre has querido.
    Hablemos de tus ideas y juntos las haremos realidad.
  </p>
</div>
