<div class="bg-custom-white mt-10 flex flex-col w-full p-10 items-center justify-center">
    <h3 class="font-[Montserrat] uppercase font-bold text-xl md:text-3xl mb-2">
        ¿Por qué elegirnos?
      </h3>
      <p class="px-2 py-6 lg:px-10 leading-relaxed lg:text-lg">
        Somos una empresa con una trayectoria consolidada, habiendo completado
        más de 80 proyectos en todo el país. <br />
        Nuestro equipo está compuesto por arquitectos, técnicos electricistas y personal
        con más de 10 años de experiencia con nosotros. <br />
        Nos destacamos por cumplir estrictamente con lo acordado y contratado por
        el cliente, en términos de precios, plazos de entrega y calidad de la obra.
        <br />
        Nuestro objetivo es lograr la satisfacción total del cliente, superando sus
        expectativas respecto al resultado final de su proyecto.
      </p>
      <img class="h-20" src="/logoweb.webp" alt="logo de pani construcciones" />
    </div>
  </div>
</div>
