<div class="w-full bg-[url('/banner.webp')] bg-cover bg-center bg-no-repeat p-4 flex flex-col justify-center">
  <div class="w-max flex flex-col ml-24">
    <p class="text-2xl text-white uppercase font-[Montserrat] font-bold mt-20 m-4">
      Pani Construcciones
    </p>
    <h2 class="text-4xl text-white font-[Montserrat] font-bold m-4">
      Construyendo Uruguay <br /> desde hace 10 años.
    </h2>
    <a class="self-center w-max m-4 mb-20 bg-custom-yellow text-white uppercase font-bold py-4 px-8 rounded-full transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-110 shadow-md"
      href="/contacto">
      ¿Tienes alguna consulta?
    </a>
  </div>
</div>
