---
const { src, alt } = Astro.props;
---

<div class="relative">
  <img
    id="img"
    class="p-2 w-screen h-auto lg:w-[50%] cursor-pointer mx-auto"
    src={src}
    alt={alt}
  />

  <div
    id="modal"
    class="w-screen h-auto mx-auto z-30 fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden"
  >
    <div
      class="w:screen h-auto lg:h-screen lg:w-auto landscape:w-auto landscape:h-screen p-2 rounded-md"
    >
      <img src={src} alt={alt} class="w-screen h-auto lg:w-auto lg:h-full" />
    </div>
  </div>
</div>

<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", () => {
    const modal = document.getElementById("modal");
    const modalImg = document.getElementById("img");

    if (modalImg && modal) {
      modalImg.addEventListener("click", () => {
        modal.classList.remove("hidden");
      });

      modal.addEventListener("click", () => {
        modal.classList.add("hidden");
      });
    }
  });
</script>

