<a
class="bg-custom-blue text-white font-bold font-[Archivo] py-4 px-4 rounded-full transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-110 uppercase"
href="/contacto">Contacto</a>