<li
  class="flex-grow lg:flex-none transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-105"
>
  <a
    class="bg-custom-blue text-white font-bold py-2 px-4 rounded"
    href="/contacto">¡Quiero mí casa!</a>
</li>
