---
import CallToAction from "./CallToAction.astro";
---

<div
  class="py-2 my-2 w-full contact h-[200px] lg:h-[300px] flex justify-center items-center flex-col"
>
  <p
    class="pb-2 font-[Archivo] text-center text-white uppercase font-bold text-xl lg:text-5xl"
  >
    ¿Tienes alguna consulta?
  </p>
  <p
    class="pb-6 lg:pb-8 font-[Archivo] text-center text-white uppercase font-bold text-xl lg:text-6xl"
  >
    ¡No dudes en contactarnos!
  </p>
  <CallToAction />
</div>
