---
import CallToAction from "./CallToAction.astro";
---

<div
  class="py-2 my-2 w-full contact h-[200px] lg:h-[400px] flex justify-center items-center flex-col"
>
  <p
    class="pb-2 font-[Archivo] text-center text-white uppercase font-bold text-md lg:text-2xl"
  >
    ¿Tienes alguna consulta?
  </p>
  <p
    class="pb-6 lg:pb-4 font-[Archivo] text-center text-white uppercase font-bold text-md lg:text-3xl"
  >
    ¡No dudes en contactarnos!
  </p>
  <p class="text-white font-bold uppercase underline">
    Servicios que ofrecemos:
  </p>
  <ul
    class="justify-center align-center py-6 list-disc list-inside text-xs lg:text-base text-white font-bold uppercase grid grid-cols-1 md:grid-cols-2 gap-2"
  >
    <li>Construcción de viviendas desde cero.</li>
    <li>Ampliaciones de casas en planta baja y planta alta.</li>
    <li>Casas apareadas / Dúplex.</li>
    <li>Depositos, galpones o locales comerciales.</li>
    <li>Viviendas tipo Cooperativas.</li>
    <li>Renovaciones y remodelaciones.</li>
    <li>Proyectos con diseños arquitectónicos personalizados.</li>
  </ul>
  <CallToAction />
</div>
