<div class="flex flex-wrap bg-custom-black w-full">
  <div class="flex flex-col text-white w-full md:w-1/2 p-2 justify-center items-center">
    <img class="hidden md:flex p-2" src="/logoweb.webp" alt="logo de pani construcciones" />
    <div class="flex flex-col md:flex-row space-x-2 items-center text-sm md:text-base lg:my-6">
        <p class="p-2">Visitá nuestras redes sociales:</p>
        <div class="flex">

          <a href="https://www.facebook.com/PaniConstrucciones2022" target="_blank"><img class="h-10" src="/social/facebook.svg" alt="logo de facebook"></a>
          <a href="https://www.instagram.com/pani_construcciones" target="_blank"><img class="h-10" src="/social/instagram.svg" alt="logo de instagram"></a>
          <a href="https://www.tiktok.com/@pani_construcciones?_t=8mUGSnQQdqX&_r=1" target="_blank"><img class="h-10" src="/social/tiktok.svg" alt="logo de tiktok"></a>
          <a href="https://youtube.com/@paniconstrucciones6209?si=MwhaBePU0K1-EA7F" target="_blank"><img class="h-10" src="/social/youtube.svg" alt="logo de youtube"></a>
        </div>
    </div>
  </div>
  <div class="flex flex-col w-full md:w-1/2 pb-4 text-white justify-center lg:mt-2">
    <div class="flex justify-center items-center">
        <svg class="p-1" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#006494" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M12 12h-3.5" />
            <path d="M12 7v5" />
          </svg>
        <p class="px-1">Lun a Vie de 9:00 a 17:00</p>
    </div>
    <div class="flex justify-center items-center px-2">
        <svg class="p-1" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#006494" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
            <path d="M3 7l9 6l9 -6" />
          </svg>
        <a class="px-1 text-sm md:text-base" href="mailto:info@steelframingmontevideo.com.uy">
            <p>info@steelframingmontevideo.com.uy</p>
        </a>
    </div>
    <div class="flex justify-center items-center px-2">
        <svg class="p-1" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#006494" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" />
            <path d="M11 4h2" />
            <path d="M12 17v.01" />
          </svg>
        <p class="px-1"><a href="tel:099491227">099 491 227</a></p> <svg class="p-1"width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#006494" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
          </svg><p class="px-1"><a href="tel:26820961">2 682 0961</a></p>
    </div>
  </div>
  <div class="bg-custom-blue w-full text-white p-2 text-center">
    <p class="text-sm md:text-base uppercase font-bold">Todos los derechos reservados © 2024</p>
    <!-- <a href="#"><p class="font-bold">penino.dev</p></a> -->
</div>
</div>
