---
import Social from "./Social.astro";
---

<div class="flex flex-wrap bg-custom-black w-full h-auto">
  <div
    class="flex flex-col text-white w-full h-auto lg:w-1/2 p-2 justify-center items-center"
  >
    <img
    width="380px" height="120px"
      class="hidden w-auto h-auto lg:flex p-2"
      src="/logoweb.webp"
      alt="logo de pani construcciones"
    />
    <Social />
  </div>
  <div
    class="flex flex-col w-full h-auto lg:w-1/2 pb-4 text-white justify-center lg:mt-2"
  >
    <div class="flex justify-center items-center w-auto h-auto">
      <svg
        class="p-1 w-auto h-auto"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#008fd0"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
        <path d="M12 12h-3.5"></path>
        <path d="M12 7v5"></path>
      </svg>
      <p class="px-1 w-auto h-auto">Lun a Vie de 9:00 a 17:00</p>
    </div>
    <div class="flex justify-center items-center px-2 w-auto h-auto">
      <svg
        class="p-1 w-auto h-auto"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#008fd0"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path>
        <path d="M3 7l9 6l9 -6"></path>
      </svg>
      <a
        class="px-1 text-sm md:text-base"
        href="mailto:info@steelframingmontevideo.com.uy"
        aria-label="Enviar mensaje a por correo electrónico"
      >
        <p>info@steelframingmontevideo.com.uy</p>
      </a>
    </div>
    <div class="flex justify-center items-center px-2 w-auto h-auto">
      <svg
        class="p-1 w-auto h-auto"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#008fd0"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
        ></path>
        <path d="M11 4h2"></path>
        <path d="M12 17v.01"></path>
      </svg>
      <p class="px-1 w-auto h-auto">
        <a href="tel:099491227" aria-label="Llamar a número celular"
          >099 491 227</a>
      </p>
      <svg
        class="p-1"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#008fd0"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
        ></path>
      </svg><p class="px-1 w-auto h-auto">
        <a href="tel:26820961" aria-label="Llamar a número de teléfono"
          >2 682 0961</a
        >
      </p>
    </div>
  </div>
  <div class="bg-custom-blue w-full h-auto text-white p-2 text-center">
    <p class="text-sm md:text-base uppercase font-bold w-auto h-auto">
      Todos los derechos reservados © 2024
    </p>
  </div>
  <div class="bg-custom-black flex justify-center items-center text-sm w-full h-auto">
    <a href="#"><p class="text-white uppercase">Sitio desarrollado por penino.dev</p></a>
  </div>
</div>
