<!-- <astro>
    <script>
      const { images } = Astro.props;
      let currentIndex = 0;
  
      function showImage(index) {
        const modal = document.getElementById("modal");
        const modalImage = modal.querySelector("img");
        modalImage.src = images[index];
        currentIndex = index;
        modal.classList.remove("hidden");
      }
  
      function hideModal() {
        const modal = document.getElementById("modal");
        modal.classList.add("hidden");
      }
  
      function showNextImage() {
        currentIndex = (currentIndex + 1) % images.length;
        showImage(currentIndex);
      }
  
      function showPreviousImage() {
        currentIndex = (currentIndex - 1 + images.length) % images.length;
        showImage(currentIndex);
      }
  
      document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("modal");
        const closeButton = modal.querySelector(".close-button");
        const nextButton = modal.querySelector(".next-button");
        const prevButton = modal.querySelector(".prev-button");
  
        closeButton.addEventListener("click", hideModal);
        nextButton.addEventListener("click", showNextImage);
        prevButton.addEventListener("click", showPreviousImage);
      });
    </script>
  
    <div class="relative">
      <div class="flex items-center justify-center">
        <button
          class="prev-button absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-500 text-white px-2 py-1 rounded-l-md"
        >
          &#10094;
        </button>
        <button
          class="next-button absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-500 text-white px-2 py-1 rounded-r-md"
        >
          &#10095;
        </button>
      </div>
  
      <div
        id="modal"
        class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center hidden"
      >
        <button class="close-button absolute top-4 right-4 text-white">Cerrar</button>
        <div class="bg-custom-blue lg:w-[45%] p-2 rounded transition-transform transform">
          <img src={images[currentIndex]} alt="Imagen" class="max-w-full max-h-full" />
        </div>
      </div>
    </div>
  </astro>
   -->