---
import Navbar from "./Navbar.astro";
---

<header
  class="fixed bg-white flex w-full top-0 justify-between items-center py-2 px-2 lg:px-4 z-10 shadow-md transition-top duration-500"
>
  <a class="flex justify-center items-center" href="/">
    <img class="h-10 lg:h-14" src="/logoweb.webp" alt="logo de pani construcciones" />
  </a>
  <p class="text-xs lg:text-sm uppercase italic text-custom-blue absolute top-0 left-0 right-0 w-full text-center z-10">Construyendo a Uruguay hace 14 años</p>
  <input class="z-10 inline-flex hidden" type="checkbox" id="check" />
  <label class="z-10 cursor-pointer inline-flex lg:hidden" for="check">
    <svg
      id="menu"
      class="block"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#006494"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 6l16 0"></path>
      <path d="M4 12l16 0"></path>
      <path d="M4 18l16 0"></path>
    </svg>
    <svg
      id="close"
      class="hidden"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#006494"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 6l-12 12"></path>
      <path d="M6 6l12 12"></path>
    </svg>
  </label>
  <Navbar />
</header>
