---
import Navbar from "./Navbar.astro";
---

<header
  id="header"
  class="fixed bg-white flex w-full top-0 justify-between items-center py-2 px-8 z-10 shadow-md transition-top duration-500"
>
  <a class="flex justify-center items-center" href="/">
    <img class="h-10" src="/logo.png" alt="logo de pani construcciones" />
    <p
      class="text-custom-blue text-xl uppercase font-[Montserrat] pt-3 pb-2 px-2 font-bold"
    >
      Pani Construcciones
    </p>
  </a>

  <Navbar />
  <div class="items-center flex">
    <a
      class="hover:scale-110 transition-transform duration-300"
      href="https://www.facebook.com/PaniConstrucciones2022"
      target="_blank"
      ><img class="h-10" src="/social/facebook.svg" alt="logo de facebook" /></a
    >
    <a
      class="hover:scale-110 transition-transform duration-300"
      href="https://www.instagram.com/pani_construcciones"
      target="_blank"
      ><img
        class="h-10"
        src="/social/instagram.svg"
        alt="logo de instagram"
      /></a
    >
  </div>
  <input class="z-10 inline-flex hidden" type="checkbox" id="check" />
  <label class="z-10 cursor-pointer inline-flex lg:hidden" for="check">
    <svg
      id="menu"
      class="block"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#006494"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 6l16 0"></path>
      <path d="M4 12l16 0"></path>
      <path d="M4 18l16 0"></path>
    </svg>
    <svg
      id="close"
      class="hidden"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#006494"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 6l-12 12"></path>
      <path d="M6 6l12 12"></path>
    </svg>
  </label>
</header>

<script>
  let lastScrollTop = 0;
  let header = document.getElementById("header");

  window.addEventListener("scroll", function () {
    let currentScroll = window.scrollY || document.documentElement.scrollTop;
    header.style.top =
      currentScroll > lastScrollTop && currentScroll > 200 ? "-100px" : "0";
    lastScrollTop = currentScroll;
  });
</script>
