---
import Navbar from "./Navbar.astro";
---

<header
  id="header"
  class="fixed bg-white flex w-full top-0 justify-between items-center py-1 px-8 z-10 shadow-md transition-top duration-500"
>
  <a href="/">
    <img class="h-14" src="/logo.webp" alt="logo de pani construcciones" />
  </a>
  <input class="z-10 inline-flex hidden" type="checkbox" id="check" />
  <label class="z-10 cursor-pointer inline-flex lg:hidden" for="check">
    <svg
      id="menu"
      class="block"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#008fd0"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 6l16 0"></path>
      <path d="M4 12l16 0"></path>
      <path d="M4 18l16 0"></path>
    </svg>
    <svg
      id="close"
      class="hidden"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#008fd0"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 6l-12 12"></path>
      <path d="M6 6l12 12"></path>
    </svg>
  </label>
  <Navbar />
</header>

<script>
  let lastScrollTop = 0;
  let header = document.getElementById("header");

  window.addEventListener("scroll", function () {
    let currentScroll =
      window.scrollY ||
      window.pageYOffset ||
      document.documentElement.scrollTop;
    header.style.top =
      currentScroll > lastScrollTop && currentScroll > 200 ? "-100px" : "0";
    lastScrollTop = currentScroll;
  });
</script>
