<div class="flex flex-col w-full justify-center items-center">
  <h1
    class="font-[Archivo] font-bold text-md lg:text-3xl text-center uppercase px-2 pt-2 border-b-4 border-custom-blue mx-auto h-auto"
  >
    Proyectos llave en mano
  </h1>
  <p class="text-xs px-2 lg:px-8 pb-2 pt-2 lg:text-lg text-justify h-auto">
    Somos una empresa familiar con amplia trayectoria, especializada en la
    <strong>construcción de hogares</strong> diseñados para adaptarse a tus necesidades.
    A lo largo de nuestra historia, hemos desarrollado proyectos que van desde módulos
    habitacionales hasta grandes viviendas, utilizando sistemas constructivos de
    vanguardia como Steel Framing e Isopanel. Con más de 90 casas y 100 ampliaciones
    o reformas realizadas en todo el país, nuestro compromiso es ofrecerte calidad
    y confianza en cada detalle. Contamos con un equipo multidisciplinario de profesionales:
    arquitectos, ingenieros, técnicos electricistas aprobados por UTE, jefes de obra
    y obreros altamente calificados que nos acompañan hace más de una década, aportando
    su experiencia para garantizar que tu proyecto sea un éxito.
  </p>
  <p class="text-xs px-2 lg:px-8 pb-2 pt-2 lg:text-lg text-justify h-auto">
    Queremos brindarte tranquilidad y seguridad a la hora de construir tu hogar.
    <strong>Nuestro equipo de profesionales</strong> te acompañará durante todo el
    proceso, encargándose de todas las gestiones, proveedores y detalles. Incluimos
    el <span class="underline">anteproyecto</span>, adaptando los diseños a tus
    necesidades o generando uno nuevo, el <span class="underline"
      >proyecto ejecutivo</span
    >, el <span class="underline">proyecto de ingeniería a detalle</span>;
    fundamental para asegurar la integridad estructural y constructiva de la
    edificación, así como los trámites, gestiones y pagos ante los entes
    públicos, como BPS, DGI, MTSS, FOCER e Intendencia, para que solo tengas que
    disfrutar el paso a paso de la construcción de tu casa. Si tienes alguna
    consulta, estamos a tu servicio ya sea mediante <a
      class="underline font-bold text-custom-green"
      href="https://wa.me/598099491227">whatsapp</a
    > o completando el formulario de <a
      class="font-bold underline text-custom-blue"
      href="/contacto">contacto</a
    >.
  </p>
</div>
