<div id="home" class="flex flex-col m-2">
  <h1 class="font-[Montserrat] font-bold text-xl lg:text-3xl text-center uppercase p-6">
    Proyectos llave en mano
  </h1>
  <p class="text-sm px-2 lg:px-8 pb-4 lg:text-lg w-full mx-auto">
    Nuestro objetivo es brindarte tranquilidad y seguridad a la hora de
    construir tu <span class="font-bold">hogar</span>. <br />
    Te acompañara un equipo de profesionales en todo el proceso de la obra, encargándose
    de todas las gestiones, proveedores y detalles para que solo tengas que disfrutar
    el paso a paso de la construcción de tu casa. <br />
    Incluimos el anteproyecto, adaptando los diseños a tus necesidades, o generando
    uno nuevo, proyecto ejecutivo, trámites, gestiones y pagos ante los Entes Públicos,
    como <span class="font-bold">BPS, DGI, MTSS, FOCER e Intendencia</span>.
  </p>
</div>
