<div
      class="flex-grow mt-16 lg:mt-0 bg-[url('/hero.webp')] bg-cover bg-center bg-no-repeat min-h-[200px] w-full lg:h-screen flex justify-center items-center max-h-[50%]"
    >
      <strong
        class="text-2xl md:text-4xl lg:text-6xl uppercase text-white text-center style-text-shadow leading-relaxed lg:leading-[6rem] font-[Montserrat]"
      >
        Si tienes un terreno... <br /> La llave de tus sueños <br /> ¡está en tus
        manos!
      </strong>
    </div>
    <div class="flex flex-col flex-grow justify-evenly">
      <h1
        class="font-[Montserrat] font-bold text-xl lg:text-4xl text-center uppercase p-2 lg:pt-8 lg:pb-4 lg:mt-10"
      >
        Proyectos llave en mano
      </h1>
      <p class="px-2 text-center lg:pb-4 line-clamp-2 lg:text-xl">
        Usted tiene el terreno, nosotros construimos y le entregamos las llaves
        de su casa!
      </p>
      <p class="px-2 lg:mb-16 text-center font-bold line-clamp-3 lg:text-xl">
        Por asesoramiento contactenos por <a
          href="mailto:info@steelframingmontevideo.com.uy"
          ><span class="text-custom-blue">Correo</span></a
        > o a través de <a href="https://wa.me/598099491227"
          ><span class="text-custom-blue">Whatsapp</span></a
        > acerca de todas las posibilidades.
      </p>
    </div>

    <style>
        .style-text-shadow {
          text-shadow: 0 2px 1px #000;
        }
      </style>