<div>
      
    </div>
    <div class="flex flex-col ">
      <h1
        class="font-[Montserrat] font-bold text-xl lg:text-3xl text-center uppercase p-6"
      >
        Proyectos llave en mano
      </h1>
      <p class="lg:px-8 lg:pb-4 lg:text-lg w-[80%] mx-auto">
        Nuestro objetivo es brindarte tranquilidad y seguridad a la hora de construir tu <span class="font-bold">hogar</span>. <br>
        Te acompañara un equipo de profesionales en todo el proceso de la obra, encargándose de todas las gestiones, proveedores y detalles para que solo tengas que disfrutar el paso a paso de la construcción de tu casa. <br>
        Incluimos el anteproyecto, adaptando los diseños a tus necesidades, o generando uno nuevo, proyecto ejecutivo, trámites, gestiones y pagos ante los Entes Públicos, como <span class="font-bold">BPS, DGI, MTSS, FOCER e Intendencia</span>.
      </p>
      <p class="px-2 lg:mb-16 text-center font-bold line-clamp-3 lg:text-lg">
        Por asesoramiento contactenos por <a
          href="mailto:info@steelframingmontevideo.com.uy"
          ><span class="text-custom-blue">Correo</span></a
        > o a través de <a href="https://wa.me/598099491227"
          ><span class="text-custom-blue">Whatsapp</span></a
        > acerca de todas las posibilidades.
      </p>
    </div>

    <style>
        .style-text-shadow {
          text-shadow: 0 2px 1px #000;
        }
      </style>