<div class="flex flex-col w-full h-auto">
  <h1 class="font-[Montserrat] font-bold text-lg lg:text-3xl text-center uppercase px-2 pt-2 pb-1 border-b-4 border-custom-blue mx-auto h-auto">
    Proyectos llave en mano
  </h1>
  <p class="text-sm px-2 lg:px-8 pb-2 pt-4 lg:text-lg mx-auto text-justify w-auto h-auto">
    Nuestro objetivo es brindarte tranquilidad y seguridad a la hora de construir tu hogar.
    <strong>Un equipo de profesionales</strong> te acompañará durante todo el proceso de la obra, encargándose de todas las gestiones, proveedores y detalles, para que solo tengas que disfrutar el paso a paso de <strong>la construcción de tu casa</strong>.
    Incluimos el anteproyecto, adaptando los diseños a tus necesidades o generando uno nuevo, el proyecto ejecutivo, así como los trámites, gestiones y pagos ante los entes públicos, como BPS, DGI, MTSS, FOCER e Intendencia.
  </p>
</div>
