<div id="map-container" class="w-full h-full">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3276.0924053370272!2d-56.030142!3d-34.80361700000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f894d4391b787%3A0xa0e02f4276a39298!2sPani%20Construcciones!5e0!3m2!1sen!2ses!4v1718348320566!5m2!1sen!2ses"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Mapa de ubicación de Pani Construcciones"></iframe>
</div>