<div id="map-container" class="w-full h-full"></div>

<script>
  const loadIframe = () => {
    const iframe = document.createElement("iframe");
    iframe.src =
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.0568856384198!2d-56.032395124588874!3d-34.80451066812961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f894d4391b787%3A0xa0e02f4276a39298!2sPani%20Construcciones!5e0!3m2!1sen!2ses!4v1716103787128!5m2!1sen!2ses";
    iframe.width = "100%";
    iframe.height = "450";
    iframe.referrerPolicy = "no-referrer-when-downgrade";
    iframe.title = "Mapa de ubicación de Pani Construcciones";
    
    document.getElementById("map-container").appendChild(iframe);
  };

  const mapContainer = document.getElementById("map-container");
  if (mapContainer) {
    const handleScroll = () => {
      if (mapContainer.getBoundingClientRect().top <= window.innerHeight) {
        loadIframe();
        window.removeEventListener("scroll", handleScroll);
      }
    };

    window.addEventListener("scroll", handleScroll);
  }
</script>
