<div
  class="w-full h-auto flex items-center uppercase justify-center text-xs font-bold bg-gradient-to-r from-custom-blue to-custom-original text-white py-2 lg:hidden"
>Proyectos en steelframing</div>