<div
  class="w-full h-auto flex items-center uppercase text-xs font-bold bg-gradient-to-r from-custom-blue to-custom-original text-white py-2 lg:hidden"
>
  <a class="w-1/2 flex justify-center items-center border-r underline" href="/isopanel"
    >Ver Proyectos en isopanel</a
  >
  <a class="w-1/2 flex justify-center items-center underline" href="/obras"
    >Ver Proyectos realizados</a
  >
</div>
