<nav
  class="absolute overflow-hidden w-full h-0 top-full left-0 lg:top-0 lg:w-auto bg-white lg:h-auto lg:relative lg:flex"
>
  <ul
    class="flex flex-col h-full lg:flex-row lg:space-x-5 justify-center lg:justify-between items-center text-lg uppercase p-10"
  >
    <li class="flex-grow lg:flex-none"><a href="/">Inicio</a></li>
    <li class="flex-grow lg:flex-none"><a href="/servicios">Servicios</a></li>
    <li class="flex-grow lg:flex-none"><a href="/proyectos">Proyectos</a></li>
    <li class="flex-grow lg:flex-none"><a href="/steelframing">Steel Framing</a></li>
    <li class="flex-grow lg:flex-none"><a href="/contacto">¡Quiero mí casa!</a></li>
  </ul>
</nav>
