---
import CallToAction from "./CallToAction.astro";
---

<nav
  id="navbar"
  class="absolute overflow-hidden w-full h-0 top-full left-0 lg:top-0 lg:w-auto bg-white lg:h-auto lg:relative lg:flex"
>
  <ul
    class="flex flex-col h-full lg:flex-row lg:space-x-5 justify-center lg:justify-between items-center text-lg uppercase lg:normal-case py-20 lg:py-2 px-2 -mt-4 lg:mt-0 text-center"
  >
    <li
      class=" flex-grow lg:flex-none lg:hover:text-custom-blue relative group"
    >
      <a class="uppercase" href="/#home">Inicio</a><span
        class="block lg:group-hover:scale-x-100 transition-transform origin-center h-1 bg-custom-blue absolute bottom-[-1] left-0 right-0 scale-x-0"
      ></span>
    </li>
    <li
      class=" flex-grow lg:flex-none lg:hover:text-custom-blue relative group"
    >
      <a class="uppercase" href="/#steelframing">Obras en <br> SteelFraming</a><span
        class="block lg:group-hover:scale-x-100 transition-transform origin-center h-1 bg-custom-blue absolute bottom-[-1] left-0 right-0 scale-x-0"
      ></span>
    </li>
    <li
      class=" flex-grow lg:flex-none lg:hover:text-custom-blue relative group"
    >
      <a class="uppercase" href="/#isopanel">Obras en <br> Isopanel</a><span
        class="block lg:group-hover:scale-x-100 transition-transform origin-center h-1 bg-custom-blue absolute bottom-[-1] left-0 right-0 scale-x-0"
      ></span>
    </li>
    <li
      class=" flex-grow lg:flex-none lg:hover:text-custom-blue relative group"
    >
      <a class="uppercase" href="/proyectos">Obras <br> realizadas</a><span
        class="block lg:group-hover:scale-x-100 transition-transform origin-center h-1 bg-custom-blue absolute bottom-[-1] left-0 right-0 scale-x-0"
      ></span>
    </li>
    <li
      class="uppercase flex-grow lg:flex-none transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-105"
    >
      <CallToAction />
    </li>
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkbox = document.getElementById("check");
    const navbarLinks = document.querySelectorAll("#navbar a");

    navbarLinks.forEach((link) => {
      link.addEventListener("click", () => {
        if (checkbox instanceof HTMLInputElement) {
          checkbox.checked = false;
        }
      });
    });
  });
</script>
