---
import Cards from "../components/Cards.astro";
import { premium, executivePlus, executive, basic } from "../../public/proyectos.json";
---

<div class="w-full h-auto md:w-[80%] flex flex-col mx-auto">
  <h3
  class="w-full h-auto flex items-center uppercase justify-center text-xs font-bold bg-gradient-to-r from-custom-blue to-custom-original text-white py-2 lg:hidden border-b border-custom-black mt-2"
>Proyectos en steelframing</h3>
  <h3
    id="steelframing"
    class="uppercase font-bold py-2 px-4 text-lg md:text-2xl mb-4 lg:mt-4 text-center w-full h-auto bg-gradient-to-r from-custom-blue to-custom-original text-white md:rounded-sm font-[Archivo]"
  >
    Línea Premium
  </h3>
  <div class="grid h-auto w-auto justify-center grid-cols-1 lg:grid-cols-3">
    {premium.map((card) => <Cards {...card} />)}
  </div>
  <h3
    class="uppercase font-bold py-2 px-4 text-lg md:text-2xl my-4 text-center w-full h-auto bg-gradient-to-r from-custom-blue to-custom-original text-white md:rounded-sm font-[Archivo]"
  >
    Línea ejecutiva plus
  </h3>
  <div class="grid h-auto w-auto justify-center grid-cols-1 lg:grid-cols-3">
    {executivePlus.map((card) => <Cards {...card} />)}
  </div>
  <h3
    class="uppercase font-bold py-2 px-4 text-lg md:text-2xl my-4 text-center w-full h-auto bg-gradient-to-r from-custom-blue to-custom-original text-white md:rounded-sm font-[Archivo]"
  >
    Línea ejecutiva
  </h3>
  <div class="grid h-auto w-auto justify-center grid-cols-1 lg:grid-cols-3">
    {executive.map((card) => <Cards {...card} />)}
  </div>
  <h3
    class="uppercase font-bold py-2 px-4 text-lg md:text-2xl my-4 text-center w-full h-auto bg-gradient-to-r from-custom-blue to-custom-original text-white md:rounded-sm font-[Archivo]"
  >
    Línea básica
  </h3>
  <div class="grid h-auto w-auto justify-center grid-cols-1 lg:grid-cols-3">
    {basic.map((card) => <Cards {...card} />)}
  </div>
</div>
