
  <div class="bg-custom-whatsapp opacity-75 hover:bg-custom-green rounded-full z-15 fixed right-5 bottom-8 lg:right-10">
      
      <a href="https://wa.me/598099491227">
        <img
        class=" h-14 w-14 lg:h-16 lg:w-16"
        src="/social/whatsapp.svg"
        alt="boton con logo de whatsapp"/>
    </a>
</div>

