---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="max-image-preview:large" />
    <meta property="og:url" content="https://paniconstrucciones.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pani Construcciones | Casas en Steel Framing e Isopanel"/>
    <meta property="og:description" content="¡Lider en la construcción de casas modernas, eficientes y de alta calidad! Descubre nuestra variedad de proyectos en Steel Framing e Isopanel."/>
    <meta property="og:image" content="/assets/images/proyectos/premium/235p-a.webp" />
    <link rel="canonical" href="https://paniconstrucciones.com" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#006494" />
    <link rel="stylesheet" href="/global.css" />
    <title>{title}</title>
    <ViewTransitions />
  </head><body class="bg-white relative mt-18 lg:mt-22">
    <WhatsappButton />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
